body {
  background: #1f192f;
  color: white;
}

section {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.card  {
  width: 350px;
  height: 390px;
  background-color: #2c8073;
  border-radius: 10px;
}

.card img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}


.titulo {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 60px;
  background-color: #3aa393;
  margin-top: -8em;
  position: absolute;

}

.titulo h2 , .titulo h3 {
  margin: 0px;
  margin-left: 10px;
  font-size: 15px;
}

.titulo h2 {
  margin-left: 20px ;
  font-size: 21px;
}

.titulo h3{
  display: flex;
  margin-left: 21px;
  font-style: italic;
}

button {
  text-align: center;
  background-color: transparent;
  color: #423e3e;
  border: none;
  height: 40px;
  width: 70px;  
  font-size: 2em;
  padding-bottom: 5px;
  margin: 0em 0px 0px 9em;
}

button:hover {
  cursor: pointer;
}


p {
  display: none;
  position: absolute;
  width: 330px;
  text-align: justify;
  background: #153a347e ;
  padding: 10px;
  margin-top: 2em;
  border-radius: 10px;
}

input {
  border: none;
  font-size: 5em;
  color: #423e3e;
}

input:hover {
  cursor: pointer;
}

#geo .card{
  background-color: #c5a565;

}

#geo .titulo {
  background-color: #d69d48;
}

#geo p {
  background-color: #a77c3ca2;
}


#electro .card{
  background-color: #955fb3;

}

#electro .titulo {
  background-color: #a166c0;
  width: 320px;
}

#electro p {
  background-color: #8846ac80;
}

#electro section {
  justify-content: space-evenly;
}

#electro body{
  padding: 60px;

}

#dendro .card {
  background-color: #7a8855;
}

#dendro .titulo {
  background-color: #82964a;
}

#dendro p {
  background-color: #8da54d56;
}


#dendro input {
  font-size: 5em;
  height: 150px;
  margin: 0px;
}

.button {
  margin: 0px;
}

#hydro .card {
  background-color: #428ab1;
}

#hydro .titulo {
  background-color: #448cb3;
}

#hydro p {
  background-color: #2d759c7a;
}

.titulo img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

#hydro input {
  font-size: 5em;
  height: 150px;
  margin: 0px;
}

#pyro .card {
  background-color: #c46a33;
}

#pyro .titulo {
  background-color: #db7632;
  width: 320px;
}

#pyro p {
  background-color: #86441785;
}

#cryo .card{
  background-color: #64c2d9;
}

#cryo .titulo {
  background-color: #60bcd2;
}

#cryo p {
  background-color: #22758a65;
}
